@import 'partials/variables';
@import 'partials/common';
@import 'partials/header';
@import 'partials/footer';


// main


#site_main{
    .jumbotron{
        background-image: url('../img/jumbotron.jpg');
        height: 400px;
    }
    .comics{
        display: flex;
        flex-wrap: wrap;
        .comic_cards{
            width: calc(100% / 6 - 1rem);
            margin: 0.5rem;
        }
    }
}