#site_footer{
    
    .top_footer{
    background-color: $brand_color;
    padding: 40px;
    display: flex;
    justify-content: center;
    color: white;
        img{
            height: 26px;
            margin-right: 10px;
        }
        .top_footer_content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .middle_footer{
        background-image: url('../img/footer-bg.jpg');
        display: flex;
        position: relative;
        padding-bottom: 30px;
        .menu_col{
            display: flex;
            color: white;
            line-height: 18px;
            flex-wrap: wrap;
            margin-top:20px;
            h5{
                text-transform: uppercase;
                
            }
            ul{
                list-style-type: none;
                margin-right: 20px;
                margin-bottom: 20px;
                li{
                    font-size: 10px;
                    color: rgb(255 255 255 / 34%);
                    letter-spacing:1px;
                }
            }
           
        }
        p{
            color:rgb(255 255 255 / 34%);
            font-size: 10px;
            letter-spacing:1px;
                a{
                    color: $brand-color;
                    text-decoration: none;
                }
           
        }
        .big_logo{
             top: -52px;
            position: absolute;
            right: 166px;
           
        }   
    }
    .bottom_footer{
        background-color: $solid_bg_footer;
        display: flex;
        color: red;
            .footer_bottom_left{
                a{
                    text-decoration: none;
                    color: white;
                }
            }
            .footer_bottom_right{
                color: white;
            }
    }
}

