#site_footer{
    
    .top_footer{
    background-color: $brand_color;
    padding: 40px;
    color: white;
        img{
            height: 26px;
            margin-right: 10px;
        }
        .top_footer_content{
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
        }
    }
    .middle_footer{
        background-image: url('../img/footer-bg.jpg');
        display: flex;
        position: relative;
        padding-bottom: 30px;
        .menu_col{
            display: flex;
            color: white;
            line-height: 18px;
            flex-wrap: wrap;
            margin-top:20px;
            h5{
                text-transform: uppercase;
                
            }
            ul{
                list-style-type: none;
                margin-right: 20px;
                margin-bottom: 20px;
                li{
                    font-size: 8px;
                    color: rgb(255 255 255 / 34%);
                    letter-spacing:1px;
                }
            }
           
        }
        p{
            color:rgb(255 255 255 / 34%);
            font-size: 8px;
            letter-spacing:1px;
                a{
                    color: $brand-color;
                    text-decoration: none;
                }
           
        }
        .big_logo{
            top: -52px;
            position: absolute;
            right: 28px;
           
        }   
    }
    .bottom_footer{
        background-color: $solid_bg_footer;
            .bt_display{
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    .footer_bottom_left{
                        padding: 20px 0;
                        button{
                            padding: 8px 8px;
                            background-color: #303030;
                            color: white;
                            border: 1px solid #0282F9;
                            text-transform: uppercase;
                            font-size: 10px;
                        }
                        
                    }
                    .footer_bottom_right{
                        color: white;
                        list-style-type: none;
                        display: flex;
                        justify-content: space-around;
                        padding: 25px 0;
                        .social{
                            display: flex;
                            justify-content: space-around;
                            ul{
                                list-style-type: none;
                               display: flex;
                               li{
                                   padding: 0 5px;
                               }
                            }
                            h4{
                                color: $brand-color;
                                text-transform: uppercase;
                                font-size: 10px;
                                padding: 5px;
                            }
                            i{
                                color: $solid_bg_footer;
                                background-color: gray;
                                border-radius: 50%;
                                font-size: 12px;
                                border: 1px solid gray;
                                padding: 3px;
                            }
                            
                        }   
                    }
            }
            
    }
}

