#site_footer{
    .top_footer{
    background-color: $brand_color;
    padding: 40px;
    display: flex;
    justify-content: center;
    color: white;
        img{
            height: 26px;
            margin-right: 10px;
        }
        .top_footer_content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
}
}
