#site_header{
    .top_header{
        background-color: $brand_color;
        color: white;
        nav{
            display: flex;
            justify-content: flex-end;
        }
        a{
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            padding: 0.5rem 1rem; 
            font-size: 8px;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }  
            
        }
    
    }
    .header_menu{
        background-color: white;
      
        nav{
           display: flex;
           align-items: center;
         font-size: 10px;
         text-transform: uppercase;
            ul{
               list-style-type: none;
               display: flex;
            
            }
            .logo{
               width: 50px;
               height: auto;
            }
            .list_menu{
                a{
                    padding: 2rem 0rem;
                    margin: 0 1rem;
                    text-decoration: none;
                    color: black;
                    display: inline-block;
                        &:hover{
                            border-bottom: 5px solid $brand-color;
                        }
                }

            }
        }
    }
  
    // .jumbotron{
    //     background-image: url('../img/jumbotron.jpg');
      
    // }

}

// jumbotron-comics

.jumbotron-comics{
   background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    height: 400px;
     }