#site_main{
    .bg_brand{
        background-color: $brand-color;
        height: 40px;
        position: relative;
    }
    .comic_description{
        background-color: white;
        
    
        .comic_card_show{
            
            h2, p{
                color:black;
            }
            .img_show{
                position: absolute;
                top: 243px;
                
                
            }
            h2{
                margin-top:40px;
                margin-bottom: 15px;
            }
            .price{
            border: 1px solid $bg_green;
            background-color: $bg_green;
            color: white;
            padding: 10px;
            margin: 15px 0;
            }
            .desc{
                color: black;
                line-height: 20px;
                font-size: 12px;
                margin-bottom: 40px;
            }
            .container_comic_description{
                display: flex;
                align-items: center;
                .adv_img{
                    height: 144px;
                    width: 144px;
                }
                    
                    
                    
                    
            }
        }
    }
    .artists{
        border-top:1px solid lightgray;
        border-bottom:1px solid lightgray;
        background-color:$bg_gray;
        display: flex;
        text-align: center;
        justify-content: space-around;
        padding-top:20px;
        padding-bottom:80px;
        .border_tp{
            border-top:1px solid lightgray;
            border-bottom:1px solid lightgray;
        }
    }
    .digital_shop{
        background-color:$bg_gray;
        display: flex;
        align-items: center;
        justify-content: center;
       
        .side_border{
            border-left:1px solid lightgray;
            border-right:1px solid lightgray;
            padding: 20px;
            color: gray;
            .shop_img{
                height: 20px;
                display: flex;
                color: gray;
                display: flex;
            }
           
        }
        .cta-icons{
            color: red;
        }
    }
    
}